/*TODO: compress classes by common attributes*/

body {
  background-color: black;
}

.image {
  margin: 5px auto;
  display: block;
  height:400px;
}

.name {
  font-size: 20px;
  font-family:  Verdana;
  display:inline-block;
  font-style: 700;
  font-size: 32px;
  border-radius: 10px;
  border: 1px solid white;
  border-width: 3px;
  color:white;
  background: linear-gradient(to bottom right, blue, black); 
  margin: 1px auto;
  padding: 3px 20px;
  text-decoration: none;
  text-shadow: 2px 2px 2px #000;
}

.nameDiv {
  text-align: center;
}

.deck {
  display:block;
  text-align: center;
  margin: 5px auto;
  width: 50%;
  font-family: Verdana;
  font-size: 20px;
  padding: 3px 5px;
  border-radius: 10px;
  border: 1px solid white;
  border-width: 3px;
  color:white;
  background: linear-gradient(to bottom right, blue, black);
  text-shadow: 2px 2px 2px #000;
}

.title {
  text-align: center;
  font-family: Verdana;
  font-size: 50px;
  border-radius: 10px;
  border: 1px solid white;
  margin-bottom: 5px;
  border-width: 3px;
  color:white;
  background: linear-gradient(to bottom right, rgba(224, 53, 86, .8), rgba(224, 93, 74, .8));
  text-shadow: 2px 2px 2px #000;
}

.roulette {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid white;
  border-width: 3px;
  color:white;
  font-family: Verdana;
  font-size: 30px;
  background: linear-gradient(to bottom right, blue, black); 
  display:block;
  margin: 5px auto;
  cursor:pointer;
  outline: none;
  text-shadow: 2px 2px 2px #000;
  padding-bottom: 20px
}

.container {
  border-radius: 10px;
  border: 1px solid white;
  border-width: 3px;
  background: linear-gradient(to bottom right, blue, black);
}